body {
    color: #002921;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
    /* display: block; */
}

.btn-primary {
    background: #039484;
    border: 0;
    padding: 9px 20px 10px 20px;
    font-size: 18px;
    font-weight: medium;
}

.btn-primary:hover {
    background: #00413a;
    border: 0;
    padding: 9px 20px 10px 20px;
}
.btn-primary::after {
    background: #036156;
    border: 0;
    padding: 9px 20px 10px 20px;
}
.btn-primary:active {
    box-shadow: 0 0 0 2px #039484;
    background-color: #039484 !important;
}

.navbar .nav-link {
    /* color: #fff;
    background-color: #007bff;
    border-color: #007bff; */
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

.navbar .nav-link:hover {
    /* color: #fff !important;
    background-color: #039484;
    text-decoration: none; */
    /* text-shadow: 5px #039484 !important; */
    /* text-shadow: #002921 0 0 3px; */
    box-shadow: 0 0 0 2px #039484;
    padding-top: 4px;
    padding-bottom: 2px;
}

.nav-link:focus {
    box-shadow: 0 0 0 2px #039484;
    background-color: #039484;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #002921;
    font-size: 42px;
}
body h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    color: #002921;
    font-size: 35px;
}
body h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #002921;
    font-size: 24px;
}

.header p,
li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #002921a8;
}
.navbar-nav .nav-link {
    color: #002921;
}

.list-group-item {
    border-width: 0;
}

.list-group-flush > .list-group-item {
    border-width: 0 0 0;
}

.card-img-top {
    border-radius: 15px;
}

.img-scroll {
    object-fit: cover;
    width: 262px;
    height: 262px;
    margin-right: 10px;
}
.card {
    border-radius: 15px;
    border-width: 0;
    display: inline-block;
}

.product-details > .btn {
    border-width: 0;
}

.product-details img {
    border-radius: 15px;
}

.contact-form {
    border: #004d3f75 solid;
    border-radius: 15px;
    max-width: 450px;
}

.why .list-group-item div {
    display: flex;
    text-align: end;
    justify-content: end;
    padding-bottom: 5px;
    align-self: center;
}

.why .list-group-item img {
    margin-left: 10px;
}

.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-gutter: stable;
}

.scrolling-wrapper::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 3px solid #fff;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #002921;
    cursor: pointer;
    z-index: 2;
}

.scroll-btn:focus {
    outline: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@media (max-width: 575.98px) {
    .img-frame {
        width: 360px !important;
        margin: 0 !important;
        justify-content: center !important;
        padding: 3px 3px !important;
    }
    .img-section {
        width: 360px !important;
        padding-left: 13px;
        padding-right: 3px;
        margin-right: 0 !important;
        margin-left: 0 !important;
        justify-content: center !important;
        justify-self: center !important;
        /* padding-right: 15px; */
    }
    .about p,
    h2 {
        margin: 3px !important;
    }
    .about .row,
    .container {
        margin-top: 3px !important;
        padding-top: 5px !important;
    }
}
@media (max-width: 991.98px) {
    /* .why .img-section {
        margin: 0 !important;
    }
    .img-section {
        width: 360px !important;
    } */
}
/* 
@media (min-width: 768px) {
    ...;
}
@media (min-width: 992px) {
    ...;
}
@media (min-width: 1200px) {
    ...;
}
@media (min-width: 1400px) {
    ...;
} 

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }
*/
