/* GENERAL */

body {
    color: #002921;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;
}
body h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    color: #002921;
    font-size: 35px;
}
body h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #002921;
    font-size: 24px;
}
/* END GENERAL */

/* Header */
.header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #002921;
    font-size: 42px;
}
.header p,
li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #002921a8;
}
/* End Header */

/* Button */
.btn-primary {
    background: #039484 !important;
    border: 0;
    padding: 9px 20px 10px 20px;
    font-size: 18px;
    font-weight: medium;
}
.btn-primary:hover {
    background: #00413a;
    border: 0;
    padding: 9px 20px 10px 20px;
}
.btn-primary::after {
    background: #036156;
    border: 0;
    padding: 9px 20px 10px 20px;
}
.btn-primary:active {
    box-shadow: 0 0 0 2px #039484;
    background-color: #039484 !important;
}
/* End Button */

/* Navbar */
.navbar .nav-link {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}
.navbar .nav-link:hover {
    box-shadow: 0 0 0 2px #039484;
    padding-top: 4px;
    padding-bottom: 2px;
}

.nav-link:focus {
    color: white !important;
    box-shadow: 0 0 0 2px #039484;
    background-color: #039484;
}

.navbar-nav .nav-link {
    color: #002921;
}
/* End Navbar */

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #039484;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #039484;
}

.clients .swiper-slide img {
    opacity: 0.5;
    transition: 0.2s;
    filter: grayscale(100);
    margin-right: 20px;
}

.swiper-slide .swiper-slide-active {
    margin-right: 20px;
}

.clients .swiper-slide img:hover {
    opacity: 1;
    filter: none;
}
/* End Clients */

/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/
.departments {
    overflow: hidden;
}

.departments .nav-tabs {
    border: 0;
}

.departments .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #2c4964;
    border-radius: 0;
    border-right: 2px solid #ebf1f6;
    font-weight: 600;
    font-size: 15px;
}

.departments .nav-link:hover {
    color: #039484;
}

.departments .nav-link.active {
    color: #039484;
    border-color: #039484;
}

.departments .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
}

.departments .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #2c4964;
}

.departments .details p {
    color: #777777;
}

.departments .details p:last-child {
    margin-bottom: 0;
}

.departments a {
    color: #00413a;
}
.departments .btn-primary {
    color: white !important;
}

@media (max-width: 992px) {
    .departments .nav-link {
        border: 0;
        padding: 15px;
    }

    .departments .nav-link.active {
        color: #fff;
        background: #039484;
    }
}

/*--------------------------------------------------------------
# Factory
--------------------------------------------------------------*/

.factory body {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    background: #1d283a;
    color: white;
}

.factory h1 {
    text-align: center;
}

.factory span {
    text-align: center;
    color: #039484;
    display: block;
    margin-bottom: 40px;
    font-size: 18px;
    letter-spacing: 4px;
}

.factory ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
    mask: linear-gradient(90deg, #0000, #000 5% 95%, #0000);
    -webkit-mask: linear-gradient(90deg, #0000, #000 5% 95%, #0000);
    margin: 0;
    padding: 0;
    list-style: none;
}

.factory ul > li {
    grid-area: 1/1;
    animation: infiniteScroll 20s linear infinite;
    font-size: 1.3rem;
    border: 0.5rem solid #0000;
    text-align: center;
}

.factory ul > li:nth-child(2) {
    animation-delay: calc(-0.1428 * 20s);
}

.factory ul > li:nth-child(3) {
    animation-delay: calc(-0.2857 * 20s);
}

.factory ul > li:nth-child(4) {
    animation-delay: calc(-0.4285 * 20s);
}

.factory ul > li:nth-child(5) {
    animation-delay: calc(-0.5714 * 20s);
}

.factory ul > li:nth-child(6) {
    animation-delay: calc(-0.7142 * 20s);
}

.factory ul > li:nth-child(7) {
    animation-delay: calc(-0.8571 * 20s);
}

.factory ul.alt li {
    animation-direction: reverse;
}

@keyframes infiniteScroll {
    14.28% {
        transform: translate(-100%);
    }
    14.29% {
        transform: translate(600%);
    }
}

/* End Factory */

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
    background-color: #f6f9ff;
    padding: 40px;
}

.about h3 {
    font-size: 14px;
    font-weight: 700;
    color: #039484;
    text-transform: uppercase;
}

.about h2 {
    font-size: 24px;
    font-weight: 700;
    color: #002921;
}

.about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
}

.about .btn-read-more {
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #039484;
    box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more span {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}

.about .btn-read-more i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
}

.about .btn-read-more:hover i {
    transform: translateX(5px);
}
/* End About */

/*--------------------------------------------------------------
# Why Sakka
--------------------------------------------------------------*/
.why-sakka .container {
    position: relative;
    z-index: 10;
}

.why-sakka .content {
    padding: 30px 30px 30px 0;
}

.why-sakka .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}

.why-sakka .content p {
    margin-bottom: 30px;
}

.why-sakka .content .why-sakka-btn {
    padding: 8px 30px 9px 30px;
    color: #fff;
    border-radius: 50px;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    display: inline-flex;
    align-items: center;
    border: 2px solid #039484;
}

.why-sakka .content .why-sakka-btn i {
    font-size: 16px;
    padding-left: 5px;
}

.why-sakka .content .why-sakka-btn:hover {
    background: #039484;
    background: #039484;
}

.why-sakka .icon-boxes .icon-box {
    margin-top: 30px;
}

.why-sakka .icon-boxes .icon-box i {
    font-size: 40px;
    color: #039484;
    margin-bottom: 10px;
}

.why-sakka .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: white;
}

.why-sakka .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
}
.why .list-group-item div {
    display: flex;
    text-align: end;
    justify-content: end;
    padding-bottom: 5px;
    align-self: center;
}
.why .list-group-item img {
    margin-left: 10px;
}

@media (max-width: 1200px) {
    .why-sakka .content {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .why-sakka {
        text-align: center;
    }
}

/*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
.counts {
    padding-top: 80px;
}

.counts .count-box {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.counts .count-box i {
    position: absolute;
    width: 54px;
    height: 54px;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: #fff;
    color: #039484;
    border-radius: 50px;
    border: 2px solid #fff;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.counts .count-box span {
    font-size: 36px;
    display: block;
    font-weight: 700;
    color: #111111;
}

.counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 20px 0;
    overflow: hidden;
    position: relative;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #039484;
    bottom: 0;
    left: calc(50% - 25px);
}

.section-title p {
    margin-bottom: 0;
}

.section-bg {
    padding: 120px 0;
    color: #fff;
}

.section-bg:before {
    content: '';
    background: #1b1b1b;
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
}
*/
/* End Section

/* Product Details */
/* .product-details .col img:hover {
    opacity: 0.7;
    color: #036156;
}
.product-details .col img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.product-details .link-image:hover {
    position: relative;
    opacity: 0.5;
    background-color: #00413a;
    border-radius: 15px;
}
.product-details .link-image:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    overflow: hidden;
}
.product-details .kategori a {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.product-details > .btn {
    border-width: 0;
}
.product-details img {
    border-radius: 15px;
} */
/* End Product Details */

/* Jenis Bahan */
.jenis-bahan {
    image-orientation: from-image;
}
.jenis-bahan button {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    align-items: center;
}

.jenis-bahan .scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-gutter: stable;
}
.scrolling-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-gutter: stable;
}
.scrolling-wrapper::-webkit-scrollbar {
    width: 12px;
    height: 10px;
}
.scrolling-wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
    border: 3px solid #fff;
}

.scroll-btn {
    position: absolute;
    height: 30px;
    width: 30px;
    background: transparent;
    border: none;
    color: #002921 !important;
    transition: background-color 0.3s;
}
.scroll-btn:hover {
    background-color: #002921;
}

.scroll-btn:active {
    background-color: #c0c0c0;
}

.scroll-btn:focus {
    outline: none;
}
.scroll-btn:hover {
    color: #002921;
}
.prev {
    left: 60px;
}
.next {
    right: 85px;
}
.jenis-bahan,
.row.swipe-area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.jenis-bahan .card-img,
.card-img-bottom,
.card-img-top {
    border-radius: 15px;
    width: 262px !important;
}
.jenis-bahan .card {
    border-radius: 15px;
    border-width: 0;
    display: inline-block;
    width: 262px !important;
}
/* End Jenis Bahan */

/* Jenis Pola kerah */
.jenis-pola-kerah button {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    align-items: center;
}
.jenis-pola-kerah,
.row.swipe-area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.jenis-pola-kerah .card {
    border-radius: 15px;
    border-width: 0;
    display: inline-block;
    width: 262px !important;
}
.jenis-pola-kerah button {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 25px;
    align-items: center;
}
.img-scroll {
    object-fit: cover;
    width: 262px;
    height: 262px;
    margin-right: 10px;
}

/* Alur pemesanan */
.alur-pemesanan .card {
    border-width: 0;
}
.alur-pemesanan h4 {
    size: 24px;
}
/* End Alur Pemesanan */

/* Alur pengerjaan */
.alur-pengerjaan .card {
    border-width: 0;
}
.alur-pengerjaan h4 {
    size: 24px;
}
/* End Alur pengerjaan */

/* Contact */
.list-group-item {
    border-width: 0;
}
.list-group-flush > .list-group-item {
    border-width: 0 0 0;
}
.order-form {
    border: #004d3f75 solid;
    border-radius: 15px;
    max-width: 450px;
}
/* End Contact */

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .section-header h2 {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #039484;
    text-transform: uppercase !important;
    text-align: center;
}

.testimonials .section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #002921;
    text-align: center;
}

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 40px 30px;
    box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
    background: #fff;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
}

.testimonials .testimonial-item .stars {
    margin-bottom: 15px;
}

.testimonials .testimonial-item .stars i {
    color: #ffc107;
    margin: 0 1px;
}

.testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
}

.testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
}

.testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #039484;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #039484;
}

.testimonials .swiper-slide {
    opacity: 0.3;
}

@media (max-width: 1199px) {
    .testimonials .swiper-slide-active {
        opacity: 1;
    }

    .testimonials .swiper-pagination {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .testimonials .swiper-slide-next {
        opacity: 1;
        transform: scale(1.12);
    }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
    width: 100%;
    background: #fff;
}

.contact .info i {
    font-size: 20px;
    color: #039484;
    float: left;
    width: 44px;
    height: 44px;
    background: #f3f8ec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #353535;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #686868;
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #039484;
    color: #fff;
}

.contact .php-email-form {
    width: 100%;
    background: #fff;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br + br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type='submit'] {
    background: #039484;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.contact .php-email-form button[type='submit']:hover {
    background: #7aa93c;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.order .info {
    width: 100%;
    background: #fff;
}

.order .info i {
    font-size: 20px;
    color: #039484;
    float: left;
    width: 44px;
    height: 44px;
    background: #f3f8ec;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.order .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #353535;
}

.order .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #686868;
}

.order .info .email,
.order .info .phone {
    margin-top: 40px;
}

.order .info .email:hover i,
.order .info .address:hover i,
.order .info .phone:hover i {
    background: #039484;
    color: #fff;
}

.order .php-email-form {
    width: 100%;
    background: #fff;
}

.order .php-email-form .form-group {
    padding-bottom: 8px;
}

.order .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.order .php-email-form .error-message br + br {
    margin-top: 25px;
}

.order .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.order .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.order .php-email-form .loading:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
}

.order .php-email-form input,
.order .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.order .php-email-form input {
    height: 44px;
}

.order .php-email-form textarea {
    padding: 10px 12px;
}

.order .php-email-form button[type='submit'] {
    background: #039484;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}

.order .php-email-form button[type='submit']:hover {
    background: #7aa93c;
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* untuk modals */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 35px; /* Location of the box */
    left: 5%;
    top: 98px;
    width: 90%; /* Full width */
    height: 84%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #036156c9;
    border-radius: 15px;
}
.modal-content {
    margin: auto;
    display: block;
    max-width: 40%;
    min-width: 40%;
    border-radius: 25px;
}
.jenis-bahan img:hover,
.jenis-pola-kerah img:hover,
.alur-pengerjaan img:hover {
    opacity: 0.7;
    color: #036156;
    cursor: pointer;
}
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 27px;
    font-size: 70px;
    font-weight: lighter;
    transition: 0.3s;
    margin-bottom: 0;
}
.close:hover,
.close:focus,
.close:active {
    color: #039484;
    text-decoration: none;
    cursor: pointer;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: white;
    padding: 10px 0;
}
/* Animasi untuk modals */
.modal,
.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@media (max-width: 575.98px) {
    .img-frame {
        width: 360px !important;
        margin: 0 !important;
        justify-content: center !important;
        padding: 3px 3px !important;
    }
    .img-section {
        width: 360px !important;
        padding-left: 13px;
        padding-right: 3px;
        margin-right: 0 !important;
        margin-left: 0 !important;
        justify-content: center !important;
        justify-self: center !important;
    }
    .about p,
    h2 {
        margin: 3px !important;
    }
    .about .row,
    .container {
        margin-top: 3px !important;
        padding-top: 5px !important;
    }
    .maps {
        width: 280px;
        height: 300px;
    }
    .scroll-btn {
        position: absolute;
        height: 30px;
        width: 30px;
        background: transparent;
        border: none;
        color: #002921 !important;
        transition: background-color 0.3s;
    }
    .prev {
        left: 0px;
    }

    .next {
        right: 0px;
    }
    #hubungi-kami img {
        width: 30px;
    }
    .modal {
        height: 60%;
        top: 110px;
    }
    .modal-content {
        max-width: 90%;
        margin-top: 90px;
    }
}
@media (max-width: 991.98px) {
}

/* Footer */
#footer .nav-link:hover {
    font-size: 17px;
    transition: all 0.2s ease-in-out;
}
#footer .nav-link:focus {
    font-size: 17px;
    transition: all 0.2s ease-in-out;
    color: white !important;
    background-color: none !important;
}
/* 
@media (min-width: 768px) {
    ...;
}
@media (min-width: 992px) {
    ...;
}
@media (min-width: 1200px) {
    ...;
}
@media (min-width: 1400px) {
    ...;
} 

// `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }
*/
